doc/~$panda.Pawel.Praca.Magisterska.docx
doc/*.tmp
src/initDeleteTest/Library/*
src/initDeleteTest/Temp/*
*.apk
*.apk
src/initDeleteTest/initDelete.apk
src/initDeleteTest/macTest/
src/curveball/Library
src/curveball/Temp
src/benchmark/Library/
src/benchmark/Temp/
